 .u-section-1 {
  background-image: none;
  min-height: 944px;
}

.u-section-1 .u-shape-1 {
  height: 564px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 431px;
  height: 638px;
  box-shadow: 2px 2px 29px 0 rgba(0,0,0,0.25);
  object-position: 50% 0%;
  margin: -497px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  width: 448px;
  height: 594px;
  object-position: 43.94% 0%;
  background-position: 43.94% 50%;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
  margin: -414px auto 0 calc(((100% - 1140px) / 2) + 325px);
}

.u-section-1 .u-group-1 {
  width: 501px;
  min-height: 480px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -817px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 17px 26px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 12px 13px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1007px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 432px;
    height: 565px;
    margin-top: -339px;
    margin-left: calc(((100% - 940px) / 2) + 215px);
  }

  .u-section-1 .u-group-1 {
    width: 418px;
    margin-top: -864px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1166px;
  }

  .u-section-1 .u-shape-1 {
    height: 623px;
  }

  .u-section-1 .u-image-1 {
    width: 403px;
    height: 564px;
    margin-top: -481px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -181px;
    margin-right: calc(((100% - 720px) / 2) + 75px);
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 393px;
    margin-top: -1022px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1332px;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 510px;
    margin-top: -278px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -163px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 351px;
    margin-top: -1188px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1249px;
  }

  .u-section-1 .u-image-1 {
    width: 297px;
    height: 416px;
    margin-top: -155px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 278px;
    height: 371px;
    margin-top: -70px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 297px;
    min-height: 453px;
    margin-top: -1115px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}